 .Landing {
    color:#293347;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Landing p {
    margin-top: -14px;
    margin-bottom: 60px;
}

.Landing Button {
    background-color: white;
    border: none;
    /* color: #293347; */
    color: teal;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
}
.Landing Button:hover {
    color:white;
    background: teal;
} 
.Landing span {
    border: 2px solid teal;
}