.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1B242F;
    /* background: linear-gradient(
      53deg,
      #ffcfcf,
      #ccfcfc ); */
    height: 48px;
    border: 2px;
    font: inherit;
}

.Nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.Spacer {
    flex: 0.9;
}