.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 56px;
}

.Nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.Logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.Spacer {
    flex: 0.9;
}

.NavItems a {
    color: white;
    text-decoration: none;
}

.NavItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.NavItems li {
    padding: 0 0.5rem;
    font-size: 1rem;
}
.NavItems a:hover,
.NavItems a:active {
    color: green;
}